body{
    background-color: black;
    color :white;
    }
    form{
        position: absolute;bottom:80px;
        right: 100px;
        width:fit-content;height:fit-content;padding: 30px;
        border-style: solid; 
        border-color:#00ff99;background-color: hsl(164, 57%, 48%);
    border-radius: 10px;
    }
    #logo{
        width: 500px;height: 250px;
        margin-left: 33%;
        
    }
    p{
        margin-top: 20px;
        margin-left: 20px; gap:20px ;
    }
    h1{
        margin-top: 20px;
        margin-left: 30px;
        color: orange;
    }
    button{
        color: black;
        background-color:rgb(255, 102, 0);
    }
    p1{
        color: black;
    }